*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:
linear-gradient(160deg,#000,#111,#1a1a1a);

color:white;

overflow:hidden;

height:100vh;

}

.loading{

position:absolute;

width:100%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

}

.loading h2{

font-family:"Great Vibes";

font-size:45px;

color:#ffd6e7;

}

.loading h1{

font-size:38px;

margin-top:10px;

}

.loading p{

margin:20px;

color:#ddd;

}

button{

padding:16px 40px;

border:none;

border-radius:40px;

background:white;

font-size:18px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.05);

}

.hidden{

display:none;

}

#page1{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

animation:fade 2s;

}

#page1 h3{

letter-spacing:8px;

color:#ddd;

}

#page1 h1{

font-size:65px;

font-family:"Great Vibes";

margin:20px;

color:#ffd4e8;

}

.age{

font-size:20px;

}

.scroll{

position:absolute;

bottom:40px;

font-size:40px;

animation:up 1.5s infinite;

}

@keyframes up{

0%{transform:translateY(0);}

50%{transform:translateY(15px);}

100%{transform:translateY(0);}

}

@keyframes fade{

from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

transform:scale(1);

}

}
.card{

width:90%;

max-width:700px;

margin:120px auto;

padding:35px;

border-radius:25px;

background:rgba(255,255,255,.06);

backdrop-filter:blur(15px);

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.3);

}

.card h2{

margin-bottom:20px;

font-size:32px;

font-family:"Great Vibes";

color:#ffd8ea;

}

.card p{

line-height:2;

font-size:18px;

color:#f3f3f3;

}

body{

overflow-y:auto;

scroll-behavior:smooth;

}
.gallery{

padding:80px 20px;

text-align:center;

}

.gallery h2{

font-size:45px;

font-family:"Great Vibes";

margin-bottom:40px;

color:#ffd6e7;

}

.photos{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(170px,1fr));

gap:20px;

}

.photos img{

width:100%;

height:250px;

object-fit:cover;

border-radius:20px;

transition:.4s;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.35);

}

.photos img:hover{

transform:scale(1.05);

}
.zoom{

transform:scale(1.2)!important;

z-index:100;

position:relative;

}
.letter{

padding:120px 25px;

display:flex;

flex-direction:column;

align-items:center;

}

.letter h2{

font-size:46px;

font-family:"Great Vibes";

margin-bottom:40px;

color:#ffd6e7;

}

.letter-box{

width:90%;

max-width:700px;

background:rgba(255,255,255,.06);

backdrop-filter:blur(20px);

padding:40px;

border-radius:25px;

line-height:2;

font-size:18px;

box-shadow:0 15px 40px rgba(0,0,0,.4);

}

#typing{

white-space:pre-line;

}
.hearts{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

pointer-events:none;

overflow:hidden;

}

.heart{

position:absolute;

bottom:-50px;

font-size:20px;

animation:float 8s linear infinite;

opacity:.7;

}

@keyframes float{

0%{

transform:translateY(0);

opacity:0;

}

20%{

opacity:1;

}

100%{

transform:translateY(-120vh);

opacity:0;

}

}

.end{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#000;
    margin-top:120px;
}

.end h1{
    font-size:60px;
    font-family:"Great Vibes";
    color:#ffd6e7;
}

.end h2{
    margin:10px 0;
}

.end p{
    color:#ccc;
}

.end h3{
    margin:20px 0;
    color:#fff;
    font-weight:300;
}

.end button{
    margin-top:20px;
    padding:14px 40px;
    border:none;
    border-radius:40px;
    background:white;
    color:black;
    font-size:16px;
}

@keyframes fall{
    to{
        transform:translateY(120vh);
    }
}